In [ ]:
import time
import os
import pyrebase
import pandas as pd

from tqdm import tqdm

In [2]:
config = {
    "apiKey": "AIzaSyCSw00WzY3oBxeIG-TZR7DHmIStKzJ7pPM",
    "authDomain": "team-dapp.firebaseapp.com",
    "databaseURL": "https://team-dapp.firebaseio.com",
    "storageBucket": "team-dapp.appspot.com",
    "serviceAccount": "DAPP\\team-dapp-firebase-adminsdk-mb63g-5c838140eb.json"
}

firebase = pyrebase.initialize_app(config)

In [3]:
dog_df = pd.read_csv("DAPP\\dog_final.csv")

In [4]:
dog_df.head()

,breed,common_nicknames,weight_kg,weight_lb,height_cm,height_in,coat,color,life_span,size
0,chihuahua,"chi,chi-chi,hua-hua",1.8_2.7,4_6,15_25,6_10,"short,long",any,12_20,small
1,japanese spaniel,japanese chin,1.4_6.8,3_15,20_27,8_11,long,"white/black,white/red,tricolor",10_12,small
2,maltese dog,0,1.4_3.6,3_8,20_25,8_10,long,white,12_15,small
3,pekinese,pekingese,3.2_6.4,7_14,15_22,6_9,long,multi,12_14,small
4,shih-tzu,0,4.1_7.3,9_16,20_25,8_10,long,multi,10_16,small

In [5]:
storage = firebase.storage()
database = firebase.database()

In [6]:
def jsonify(series):
    """
    turns the passed pandas series into a json.
    """
    json = {}
    for feature in series.columns:
        json[feature] = series[feature].values[0]

    return json

In [ ]:
## uploads images to the database

images_path = "DAPP\\Images"
image_folders = os.listdir(images_path)

total_count = 0
img_index = 0

for folder in tqdm(image_folders):
    
    breed = folder[10:].replace("_", " ").lower()
    breed_info = dog_df[dog_df['breed'] == breed]
    
    try:
        json = jsonify(breed_info)
    except:
        print(breed);
    
    image_names = os.listdir(images_path + '\\' + folder)
    
    #only uploading 10 images from each breed 
    img_index = 0
    
    while (img_index < 10):
        
        image_name = image_names[img_index]
        img_path = images_path + "\\" + folder + "\\" + image_name  
        cloud_path = "images/" + image_name
        
        json['image_path'] = cloud_path
        
        storage.child(cloud_path).put(img_path)
        database.child("images").child(total_count).set(json)
        
        img_index += 1
        total_count += 1

 38%|███▊      | 44/117 [03:26<05:42,  4.69s/it]

In [ ]:
## replace with while loop above to upload all images
for image_name in (image_names):
        
    img_path = images_path +"\\" + folder + '\\'+ image_name
    cloud_path = 'images/' + image_name
        
    json['image_path'] = cloud_path
        
    storage.child(cloud_path).put(img_path)
    database.child("images").child(counter).set(json)
    counter += 1
    time.sleep(1)